
/*universal*/
body{
	background-image: url("../img/triangular.png");
}

header{

}

.container {
	width: 60%;
	margin: 0 auto;
}

.bio h1, h2, h3{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-transform: bold;
}

p, li{
	font-family: 'Raleway', sans-serif;
}

.dropcap {
	font-size: 3.5em;
	color: #666C91;
	padding-top: 5px ;
	margin: -10px 3px -5px;
	float: left; 
	text-transform: bold;
}

/*nav bar*/

header nav{
	position: fixed;
	left: 0;
	right: 0;
}

header nav ul li{
	list-style: none;
	display: inline-block;
	padding-top: 5px;
	text-align: center;

	background: red;

}

header nav ul li:hover{
	transform: scale(1.11);

}


header nav ul li a{
	text-decoration: none;
}

header nav{
	background: blue;
	/*background: rgb(179, 179, 186);*/
	height: 60px;
	margin-bottom: 60px;
}

